.interviewer {
  color: #ba0000;
}

.read-on-demand {
  color: #005f00;
}

.read-on-demand-icon {
  color:#0d1382;
}

.secondary {
  opacity: 0.7;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

p {
  font-size: 16px;
}

.question {
  padding-bottom: 2rem;
}

.page-id {
  opacity: 0.3;
  margin-top: -2rem;
  margin-bottom: 2rem;
  text-align: right;
}
